.container {
  max-width: 640px !important;
}

.App {
  text-align: center;
}

.todo-class {
  background-color: #fdebdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem 3rem .1rem;
  margin: 1rem 3rem 1rem;
  box-shadow: .5rem .5rem .3rem black;
  border-radius: .3rem;
  overflow: hidden;
}

.todo-title {
  display: inline;
}

.todo-form {
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.todo-form input {
  width: 50%;
  padding: .5rem;
  margin: .3rem 2rem .3rem;
}

.todolist-class {
  min-height: 80vh;
  background-color: #002a61;
  border-radius: 1rem;
  overflow: hidden;
}